REDIS_HOST=redis.internal.example
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_SSL=false

WEBHOOK_BEARER_TOKEN=<alertmanager-to-lambda-token>
CONTROL_LOCK_TTL_SECONDS=60
STEERING_COOLDOWN_SECONDS=900
BURST_COOLDOWN_SECONDS=900

HOSTED_ZONE_ID=ZEXAMPLEHOSTEDZONE

HLS_RECORD_NAME=hls.example.com
HLS_ONPREM_SET_ID=onprem-hls
HLS_ONPREM_WEIGHT_DEFAULT=100
HLS_ONPREM_WEIGHT_ACTIVE=0
HLS_ONPREM_ALIAS_DNS_NAME=dualstack.onprem-hls-alb.example.elb.amazonaws.com
HLS_ONPREM_ALIAS_HOSTED_ZONE_ID=ZELBEXAMPLE
CDN_SET_ID=cdn-hls
CDN_WEIGHT_IDLE=0
CDN_WEIGHT_ACTIVE=100
CDN_ALIAS_DNS_NAME=dxxxxxxxxxxxxx.cloudfront.net
CDN_ALIAS_HOSTED_ZONE_ID=Z2FDTNDATAQYW2

RTMP_RECORD_NAME=stream.example.com
RTMP_ONPREM_SET_ID=onprem-rtmp
RTMP_ONPREM_WEIGHT_DEFAULT=100
RTMP_ONPREM_WEIGHT_ACTIVE=0
RTMP_ONPREM_ALIAS_DNS_NAME=k8s-onprem-rtmp-nlb.example.elb.ap-northeast-2.amazonaws.com
RTMP_ONPREM_ALIAS_HOSTED_ZONE_ID=ZELBEXAMPLE
AWS_SET_ID=aws-burst-rtmp
AWS_WEIGHT_IDLE=0
AWS_WEIGHT_ACTIVE=100
AWS_ALIAS_DNS_NAME=k8s-aws-rtmp-nlb.example.elb.ap-northeast-2.amazonaws.com
AWS_ALIAS_HOSTED_ZONE_ID=ZELBEXAMPLE
